<div class="container">
	<div class="row">
		
		<div class="col-xs-12 well well-lg" style="margin: 5% 0;">
			<h1>{{article.title}}</h1>
			<h3>{{article.blurb}}</h3>
			<a href="{{article.link}}" target="_blank"><h4>{{article.link}}</h4></a>
			<img class="img-responsive" src="{{article.pic}}">
		</div>
		
		<div class="col-xs-12">
			<h1 class="text-center">Comments</h1>
			{{#each note}}
			<div class="col-xs-12 well well-lg" style="margin: 5% 0;">
				<h3>{{user}}</h3>
				<p>{{text}}</p>
			</div>
			{{/each}}
		</div>
		
		<div class="col-xs-12 well well-lg">
			<form action="/api/comment" method="POST">
				<h3>Add a comment</h3>
				<textarea class="form-control" name="comment" rows="3"></textarea>
				<br>
				<button class="pull-right btn btn-primary" type="submit">Submit</button>
			</form>
		</div>
	</div>
</div>