<div class="container">
	<div class="row">
		{{#each article}}
		<div class="col-xs-12 well well-lg" style="margin: 5% 0;">
			<a href="hub-3/{{title}}"> <h1>{{title}}</h1> </a>
			<h3>{{blurb}}</h3>
			<a href="{{link}}" target="_blank"><h4>{{link}}</h4></a>
			<img class="img-responsive" src="{{pic}}">
		</div>
		{{/each}}
	</div>
</div>