<div class="container">
	<div class="row">
		<h1 class="text-center">---Hub-3---</h1>
		<div class="col-xs-12 well well-lg well-margin">
			<h1>{{article.title}}</h1>
			<h3>{{article.blurb}}</h3>
			<a href="{{article.link}}" target="_blank"><h4>{{article.link}}</h4></a>
			<img class="img-responsive" src="{{article.pic}}">
		</div>
		
		<div class="col-xs-12">
			<h1 class="text-center">Comments</h1>
			{{#each note}}
			<div class="col-xs-12 well well-lg" style="margin: 5% 0;">
				{{!-- <h3>{{user}}</h3> --}}
				<div class="col-xs-11">
					<p>{{text}}</p>
					
				</div>
				<div class="col-xs-1">
					<form action="/api/note/delete" method="POST">
						<input type="hidden" name="noteID" value="{{_id}}">
						<button class="pull-right btn btn-danger" type="submit">X</button>
					</form>
				</div>
			</div>
			{{/each}}
		</div>
		
		<div class="col-xs-12 well well-lg">
			<form action="/api/comment" method="POST">
				<h3>Add a comment</h3>
				<textarea class="form-control" name="comment" rows="3"></textarea>
				<br>
				<input type="hidden" name="articleID" value="{{article._id}}">
				<button class="pull-right btn btn-primary" type="submit">Submit</button>
			</form>
		</div>
	</div>
</div>