<div class="container">
	<div class="row">
		<h1 class="text-center">---Hub-1---</h1>
		{{#each site}}
		<div class="col-xs-12 well well-lg well-margin">
			<a href="hub-2/{{title}}"><h1>{{title}}</h1></a>
			<h3>{{tagline}}</h3>
			<a href="{{link}}" target="_blank"><h4>{{link}}</h4></a>
			<a href="/api/scrape/{{title}}"><h4>Scrape {{title}}</h4></a>
		</div>
		{{/each}}
	</div>
</div>